@import url('https://fonts.googleapis.com/css?family=Numans');
@charset "UTF-8";
              
                             
.my-custom-scrollbar {
position: relative;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}  

.card-icon1 {
	border-radius: 3px;
	padding: 15px;
	margin-top: -20px;
	margin-right: 15px;
	float: left;
}

.card-icon2 {
	border-radius: 3px;
	background-color: #999;
	padding: 15px;
	margin-top: -20px;
	margin-right: 15px;
	float: left;
}

.card-icon3 {
	border-radius: 3px;
	background-color: #999;
	padding: 15px;
	margin-top: -20px;
	margin-right: 15px;
	float: left;
}

.card-icon4 {
	border-radius: 3px;
	background-color: #999;
	padding: 15px;
	margin-top: -20px;
	margin-right: 15px;
	float: left;
}

.tooltip.primary .tooltip-inner          { background-color:    #337ab7; }
.tooltip.primary.top > .tooltip-arrow    { border-top-color:    #337ab7; }
.tooltip.primary.right > .tooltip-arrow  { border-right-color:  #337ab7; }
.tooltip.primary.bottom > .tooltip-arrow { border-bottom-color: #337ab7; }
.tooltip.primary.left > .tooltip-arrow   { border-left-color:   #337ab7; }

.tooltip.info .tooltip-inner          { background-color:    #31b0d5; }
.tooltip.info.top > .tooltip-arrow    { border-top-color:    #31b0d5; }
.tooltip.info.right > .tooltip-arrow  { border-right-color:  #31b0d5; }
.tooltip.info.bottom > .tooltip-arrow { border-bottom-color: #31b0d5; }
.tooltip.info.left > .tooltip-arrow   { border-left-color:   #31b0d5; }

.tooltip.success .tooltip-inner          { background-color:    #449d44; }
.tooltip.success.top > .tooltip-arrow    { border-top-color:    #449d44; }
.tooltip.success.right > .tooltip-arrow  { border-right-color:  #449d44; }
.tooltip.success.bottom > .tooltip-arrow { border-bottom-color: #449d44; }
.tooltip.success.left > .tooltip-arrow   { border-left-color:   #449d44; }

.tooltip.warning .tooltip-inner          { background-color:    #ec971f; }
.tooltip.warning.top > .tooltip-arrow    { border-top-color:    #ec971f; }
.tooltip.warning.right > .tooltip-arrow  { border-right-color:  #ec971f; }
.tooltip.warning.bottom > .tooltip-arrow { border-bottom-color: #ec971f; }
.tooltip.warning.left > .tooltip-arrow   { border-left-color:   #ec971f; }

.tooltip.danger .tooltip-inner          { background-color:    #d9534f; }
.tooltip.danger.top > .tooltip-arrow    { border-top-color:    #d9534f; }
.tooltip.danger.right > .tooltip-arrow  { border-right-color:  #d9534f; }
.tooltip.danger.bottom > .tooltip-arrow { border-bottom-color: #d9534f; }
.tooltip.danger.left > .tooltip-arrow   { border-left-color:   #d9534f; }




	.modal-confirm {		
		color: #636363;
		width: 400px;
	}
	.modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
        text-align: center;
		font-size: 14px;
	}
	.modal-confirm .modal-header {
		border-bottom: none;   
        position: relative;
	}
	.modal-confirm h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -10px;
	}
	.modal-confirm .close {
        position: absolute;
		top: -5px;
		right: -2px;
	}
	.modal-confirm .modal-body {
		color: #999;
	}
	.modal-confirm .modal-footer {
		border: none;
		text-align: center;		
		border-radius: 5px;
		font-size: 13px;
		padding: 10px 15px 25px;
	}
	.modal-confirm .modal-footer a {
		color: #999;
	}		
	.modal-confirm .icon-box {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		border-radius: 50%;
		z-index: 9;
		text-align: center;
		border: 3px solid #f15e5e;
	}
	.modal-confirm .icon-box i {
		color: #f15e5e;
		font-size: 46px;
		display: inline-block;
		margin-top: 13px;
	}
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		background: #60c7c1;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
		min-width: 120px;
        border: none;
		min-height: 40px;
		border-radius: 3px;
		margin: 0 5px;
		outline: none !important;
    }
	.modal-confirm .btn-info {
        background: #c1c1c1;
    }
    .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
        background: #a8a8a8;
    }
    .modal-confirm .btn-danger {
        background: #f15e5e;
    }
    .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
        background: #ee3535;
    }
	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
		
	}
	
	tr.group,
	tr.group:hover {
	    background-color: #d9edf7 !important;
	    font-weight: bold;
	    letter-spacing: 2px;
	    
	}
	
	tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
    
    
    .bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


