<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid py-3 col-md-10 col-sm-12">
		
		<div class="card bg-light">
			<div class="card-header font-weight-bold" th:text="${titulo}"></div>
			<div class="card-body table-responsive">
			<!-- form card change password -->
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h5 class="mb-0">Cambiar Contraseña</h5>
                        </div>
                        <div class="card-body">
                            <form class="form" th:action="@{/ajustes/cambioPassword}" role="form" autocomplete="off" th:object="${formCambioPassword}">
                                <div class="form-group">
                                    <label for="inputPasswordOld">Contraseña actual</label>
                                    <input type="password" class="form-control"
                                     th:field="*{actual}" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordNew">Nueva contraseña</label>
                                    <input type="password" class="form-control"
                                     th:field="*{nueva}" required>
                                    <span class="form-text small text-muted">
                                            La contraseña debe tener entre 8 y 20 caracteres, no debe contener espacios.
                                        </span>
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordNewVerify">Confirmar contraseña</label>
                                    <input type="password" class="form-control" 
                                     th:field="*{confirmacion}" required>
                                    <span class="form-text small text-muted">
                                            Para confirmar, escriba la nueva contraseña de nuevo.
                                        </span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success float-right">Guardar cambios</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /form card change password -->
                    
                    
                       <div sec:authorize="!hasRole('ROLE_ADMIN')" class="card card-outline-secondary mt-4">
                        <div class="card-header">
                            <h5 class="mb-0">Incidencias abiertas por el usuario</h5>
                        </div>
                        <div class="card-body">
                           Aquí iran las incidencias abiertas de cada usuario, si no hay ninguna se mostrará un mensaje
                        </div>
                    </div>
                    
                    
				</div>	
			</div>
		
		
		
		</div>
				
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>