<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid py-3 col-md-11 col-sm-12">

		<div class="card bg-light">
			<div class="card-header font-weight-bold" th:text="${titulo}"></div>
			<div class="card-body table-responsive">
	                
	        	<table id="tablaFichajes" class="table-hover table-borderless dataTables_length" >
					<thead class="text-center bg-dark text-white">
						<tr>
							<th>Usuario</th>
							<th>Fecha</th>
							<th>IP Origen</th>
							<th>Hora Entrada</th>
							<th>Hora Salida</th>
							<th>Tiempo total</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody class="text-center">
						<tr th:each="fichaje : ${listaFichajes}">
							<td data-toggle="tooltip" data-placement="left" data-type="primary" 
							th:title="${fichaje.empleado.nombre} +' '+${fichaje.empleado.apellido1}+' '+${fichaje.empleado.apellido2}"
							 th:text="${fichaje.empleado.usuario.username}"></td>
							<td th:text="${fichaje.fecha}"></td>
							<td th:text="${fichaje.ip}"></td>
							<td><span class="badge badge-pill badge-primary" th:text="${fichaje.horaEntrada}"></span></td>
							<td><span class="badge badge-pill badge-primary" th:text="${fichaje.horaSalida}"></span></td>
							<td><span class="badge badge-pill badge-success" th:text="${fichaje.tiempoTotal}"></span></td>
							<td class="align-middle">
								<a class="btn-lg">
									<i class="far fa-edit" style="color: #007bff;"></i>
								</a>
						
								<a onclick="return confirm('¿Estás seguro que quieres eliminar el fichaje?');"
									 th:href="@{/controlhorario/eliminar/} + 
												${fichaje.empleado.cod_empl} + '/' +
												${fichaje.fecha}" class="btn-lg">
									<i class="fas fa-trash-alt" style="color: red;"></i>
								</a>
							</td>
						</tr>
					</tbody>
					<tfoot>
			            <tr>
			                <th>Usuario</th>
			                <th hidden="true">IP Origen</th>
			               	<th hidden="true">Fecha</th>
			                <th hidden="true">Hora Entrada</th>
			                <th hidden="true">Hora Salida</th>
			                <th hidden="true">Tiempo Total</th>
			                <th hidden="true">Acciones</th>
			            </tr>
			        </tfoot>
				</table>
           	</div>

		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

<script>
	
	$(document).ready( function () {
		 var groupColumn = 1;
		
		 var table = $('#tablaFichajes').DataTable({
			 	"columnDefs": [
		            { "visible": false, "targets": groupColumn }
		        ],
			 	"pagingType": "numbers",
		        "language": {
		            "lengthMenu": "Mostrar _MENU_ registros por página",
		            "zeroRecords": "Sin resultados",
		            "info": "Mostrando página _PAGE_ de _PAGES_",
		            "infoEmpty": "No hay datos disponibles",
		            "infoFiltered": "(filtrados de _MAX_ registros en total)",
		            "loadingRecords": "Cargando...",
		            "processing":     "Procesando...",
		            "search": "Buscar:",
		            "paginate": {
		            	"first":      "Primera",
		                "last":       "Última",
		                "next":       "Siguiente",
		                "previous":   "Anterior"
		            }
		        },
		        "order": [ groupColumn, 'asc' ],
		        "displayLength": 10,
		        "drawCallback": function ( settings ) {
		            var api = this.api();
		            var rows = api.rows( {page:'current'} ).nodes();
		            var last=null;
		 
		            api.column(groupColumn, {page:'current'} ).data().each( function ( group, i ) {
		                if ( last !== group ) {
		                    $(rows).eq( i ).before(
		                        '<tr class="group"><td colspan="6">'+group+'</td></tr>'
		                    );
		 
		                    last = group;
		                }
		            } );
		        }
		    });
		 
		// Order by the grouping
		    $('#tablaFichajes tbody').on( 'click', 'tr.group', function () {
		        var currentOrder = table.order()[0];
		        if ( currentOrder[0] === groupColumn && currentOrder[1] === 'asc' ) {
		            table.order( [ groupColumn, 'desc' ] ).draw();
		        }
		        else {
		            table.order( [ groupColumn, 'asc' ] ).draw();
		        }
		    } );
		 
	});
	
	$(document).ready(function() {
	    // Setup - add a text input to each footer cell
	    $('#tablaFichajes tfoot th').each( function () {
	        var title = $(this).text();
	        $(this).html( '<input type="text" placeholder="Buscar por '+title+'" />' );
	    } );
	 
	    // DataTable
	    var table = $('#tablaFichajes').DataTable();
	 
	    // Apply the search
	    table.columns().every( function () {
	        var that = this;
	 
	        $( 'input', this.footer() ).on( 'keyup change clear', function () {
	            if ( that.search() !== this.value ) {
	                that
	                    .search( this.value )
	                    .draw();
	            }
	        } );
	    } );
	} );
	
</script>

</body>
</html>