<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid py-3 col-md-10 col-sm-12">

		<div class="card bg-light">
			<div class="card-header font-weight-bold" th:text="${titulo}"></div>
			<div class="card-body">
	                
	        	
	        	
           	</div>

		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>