<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid py-5 col-md-10 col-sm-12">

		<div class="card bg-light">
			<div class="card-header text-center font-weight-bold"
				th:text="${titulo}"></div>
			<div class="card-body">

				<div class="col-md-12">
					<div class="card bg-light">
						<div class="card-body">


							<form th:action="@{/save/} + ${empleado.cod_empl}"
								th:object="${empleado}" method="post" enctype="multipart/form-data">

								<div class="row">

									<div class="col-md-3 pt-2">
								
												
									</div>

									<div class="col-md-5">
										<div class="form-group row mt-4">
											<label class="col-sm-5 col-form-label">Nombre: </label> <input
												type="text" th:field="*{nombre}"
												class="form-control col-md-6"
												th:errorclass="'form-control alert-danger'"
												placeholder="Nombre" />
										</div>
										<div class="form-group row mt-4">
											<label class="col-sm-5 col-form-label">Primer
												Apellido: </label> <input type="text" th:field="*{apellido1}"
												class="form-control col-md-6"
												th:errorclass="'form-control alert-danger'"
												placeholder="Primer Apellido" />
										</div>
										<div class="form-group row mt-4">
											<label class="col-sm-5 col-form-label">Segundo
												Apellido: </label> <input type="text" th:field="*{apellido2}"
												class="form-control col-md-6"
												th:errorclass="'form-control alert-danger'"
												placeholder="Segundo Apellido" />
										</div>
										<div class="form-group row mt-4">
											<label class="col-sm-5 col-form-label">Fecha de
												Nacimiento: </label> <input type="date"
												class="form-control col-md-6" th:field="*{fechaNacim}"
												th:errorclass="'form-control alert-danger'" />
										</div>

									</div>
									<div class="col-md-4">
										<div class="form-group row mt-4">
											<label class="col-sm-4 col-form-label">Direccion: </label> <input
												type="text" class="form-control col-md-7"
												th:field="*{direccion}"
												th:errorclass="'form-control alert-danger'"
												placeholder="Dirección" />
										</div>
										<div class="form-group row mt-4">
											<label class="col-sm-4 col-form-label">Pais: </label> <input
												type="text" class="form-control col-md-7" th:field="*{pais}"
												th:errorclass="'form-control alert-danger'"
												placeholder="País" />
										</div>
										<div class="form-group row mt-4">
											<label class="col-sm-4 col-form-label">Provincia: </label> <input
												type="text" class="form-control col-md-7"
												th:field="*{provincia}"
												th:errorclass="'form-control alert-danger'"
												placeholder="Provincia" />
										</div>
										<div class="form-group row mt-4">
											<label class="col-sm-4 col-form-label">Localidad: </label> <input
												type="text" class="form-control col-md-7 "
												th:field="*{localidad}"
												th:errorclass="'form-control alert-danger'"
												placeholder="Localidad" />
										</div>



									</div>
								</div>
								<div class="row py-2 mt-4">
									<div class="col-md-11">
										<div class="row float-right ">
											<div class="form-group">
												<input value="Volver" type="button"
													class="btn btn-danger mr-4" onclick="history.back()" />
											</div>
											<div class="form-group">
												<input value="Editar Empleado" type="submit"
													class="btn btn-primary" />
											</div>
										</div>

									</div>


								</div>

							</form>
						</div>
					</div>
				</div>

			</div>




		</div>




	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>