<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container-fluid py-4">
		<h5 th:text="${titulo}"></h5>
		<hr>

		<div class="row">
			<div class="col-md-6">
				<div class="card bg-light">
					<div class="card-header text-center font-weight-bold">INFORMACIÓN
						DEL EMPLEADO</div>
					<div class="card-body">

						<div class="row text-center">
							<div class="col-md-6">Nombre y apellidos: </div>
  							<div class="col-md-6 text-left " th:text="${empleado.nombre} +' '+ ${empleado.apellido1} +' ' + ${empleado.apellido2}"></div>						
						</div>
						
						<div class="row text-center">
							<div class="col-md-6">Fecha y hora actual: </div>
  							<div class="col-md-6 text-left" th:text="'13/12/1992 14:15'"></div>						
						</div>
						
						<div class="row text-center">
							<div class="col-md-6">IP origen del fichaje: </div>
  							<div class="col-md-6 text-left " th:text="${ip_cliente}"></div>						
						</div>
						
					</div>
				</div>

			</div>
			<div class="col-md-3">
				<div class="card bg-light">
					<div class="card-header text-center font-weight-bold">INFORMACIÓN
						DEL FICHAJE</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-6 ml-5">Hora Entrada: </div>
  							<div class="col-md-4" th:text="${horaEntrada}"></div>						
						</div>

						<div class="row">
							<div class="col-md-6 ml-5">Hora Salida: </div>
  							<div class="col-md-4" th:text="${horaSalida}"></div>	
						</div>

						<div class="row">
							<div class="col-md-6 ml-5">Total Tiempo: </div>
  							<div class="col-md-4" th:text="${totalTiempo}"></div>	
						</div>

					</div>
				</div>

			</div>
			<div class="col-md-3">
				<div class="card bg-light">
					<div class="card-header text-center font-weight-bold">INFORMES
						DISPONIBLES</div>
					<div class="card-body">
						<div class="row text-center">
							<div class="col-md-12">Informe semanal</div>
						</div>
						<div class="row text-center">
							<div class="col-md-12">Informe mensual</div>
						</div>
						<div class="row text-center">
							<div class="col-md-12">Seleccionar fechas</div>
						</div>
		
					</div>
				</div>

			</div>


		</div>




		<div class="card bg-light mt-3">
			<div class="card-header text-center font-weight-bold">OPERACIONES
				DISPONIBLES</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-3 text-center">
						<button type="button" class="btn btn-primary">Entrada</button>
					</div>
					<div class="col-md-3 text-center">
						<button type="button" class="btn btn-danger">Salida</button>
					</div>
					<div class="col-md-3 text-center">
						<button type="button" class="btn btn-success">Inicio
							Descanso</button>
					</div>
					<div class="col-md-3 text-center">
						<button type="button" class="btn btn-danger">Fin Descanso</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>