<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container-fluid py-4">
		<h5 th:text="${titulo}"></h5>
		<hr>
		<div class="card bg-light">
			<div class="card-header text-center font-weight-bold">Información
				del empleado</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-3 m-2">Nombre del empleado + apellidos</div>
					<div class="card bg-light col-md-2">
					<div class="card-header text-center font-weight-bold">Fichaje actual</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-6 m-2">Hora entrada:</div>

							</div>
							<div class="row">
								<div class="col-md-6 m-2">Hora salida:</div>

							</div>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-3 m-2">Fecha y hora actuales</div>
				</div>
			</div>
		</div>
		<div class="card bg-light">
			<div class="card-header text-center font-weight-bold">Operaciones
				disponibles</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-3 text-center">Entrada</div>
					<div class="col-md-3 text-center">Salida</div>
					<div class="col-md-3 text-center">Inicio Descanso</div>
					<div class="col-md-3 text-center">Fin Descanso</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>