<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container-fluid py-4">
		<h5 th:text="${titulo}"></h5>
		<hr>

		<div class="row">
			<div class="col-md-9">
				<div class="card bg-light">
					<div class="card-header text-center font-weight-bold">INFORMACIÓN
						DEL EMPLEADO</div>
					<div class="card-body">

						<div class="m-2">Nombre del empleado + apellidos</div>

						<div class="m-2">Fecha y hora actuales + IP origen</div>

					</div>
				</div>

			</div>
			<div class="col-md-3">
				<div class="card bg-light">
					<div class="card-header text-center font-weight-bold">INFORMACIÓN
						DEL FICHAJE</div>
					<div class="card-body">

						<div class="text-center m-2">Hora Entrada:</div>
						<div class="text-center m-2">Hora Salida:</div>
					</div>
				</div>

			</div>


		</div>




		<div class="card bg-light mt-3">
			<div class="card-header text-center font-weight-bold">OPERACIONES
				DISPONIBLES</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-3 text-center">
						<button type="button" class="btn btn-primary">Entrada</button>
					</div>
					<div class="col-md-3 text-center">
						<button type="button" class="btn btn-danger">Salida</button>
					</div>
					<div class="col-md-3 text-center">
						<button type="button" class="btn btn-success">Inicio
							Descanso</button>
					</div>
					<div class="col-md-3 text-center">
						<button type="button" class="btn btn-danger">Fin Descanso</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>