<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid py-2 col-md-8 col-sm-12">

		<div class="card bg-light">
			<div class="card-header text-center font-weight-bold bg-dark text-white" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/form}" th:object="${empleado}" method="post" enctype="multipart/form-data">

					<div class="row">

						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="row">
								<h5 class="col-md-12 text-center">Datos personales</h5>
							</div>
							<hr class="mt-0 bg-info" />
							<div class="row">
								<div class="col-xs-12 col-md-6 col-lg-6">
									<div class="form-group input-group">
										
										<div class="input-group-prepend">
										    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
										 </div>									
										<input type="text" class="form-control" th:field="*{nombre}"
										placeholder="Nombre"
										th:errorclass="'form-control alert-danger'" /> 
									</div>
									<small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
								</div>
								<div class="col-xs-12 col-md-6 col-lg-6">
									<div class="form-group input-group">
										
										<div class="input-group-prepend">
										    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
										 </div>									
										<input type="text" class="form-control" th:field="*{apellido1}"
										placeholder="Primer Apellido"
										th:errorclass="'form-control alert-danger'" /> 
									</div>
									<small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('apellido1')}" th:errors="*{apellido1}"></small>
								</div>
							</div>
							
							<div class="row">
								<div class="col-xs-12 col-md-6 col-lg-6">
									<div class="form-group input-group">
										
										<div class="input-group-prepend">
										    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
										 </div>									
										<input type="text" class="form-control" th:field="*{apellido2}"
										placeholder="Segundo Apellido"
										th:errorclass="'form-control alert-danger'" /> 
									</div>
									<small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('apellido2')}" th:errors="*{apellido2}"></small>
								</div>
								<div class="col-xs-12 col-md-6 col-lg-6">
									<div class="form-group input-group">
										
										<div class="input-group-prepend">
										    <span class="input-group-text"> <i class="fas fa-calendar-alt"></i> </span>
										 </div>									
										<input type="text" class="form-control" th:field="*{fechaNacim}"
											 onfocus="(this.type='date')"
											placeholder="Fecha de Nacimiento"
											th:errorclass="'form-control alert-danger'" /> 
									</div>
									<small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('fechaNacim')}" th:errors="*{fechaNacim}"></small>
								</div>
						</div>
						
						<div class="row">
							<h5 class="col-md-12 text-center">Datos de dirección</h5>
						</div>
						<hr class="mt-0 bg-info" />
						
						
							<div class="row">
								<div class="col-xs-12 col-md-6 col-lg-6">
									<div class="form-group input-group">
										
										<div class="input-group-prepend">
										    <span class="input-group-text"> <i class="fas fa-compass"></i> </span>
										 </div>									
										<input type="text" class="form-control" th:field="*{direccion}"
										placeholder="Dirección completa"
										th:errorclass="'form-control alert-danger'" /> 
									</div>
									<small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></small>
								</div>
								<div class="col-xs-12 col-md-6 col-lg-6">
									<div class="form-group input-group">
										
										<div class="input-group-prepend">
										    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i> </span>
										 </div>									
										<input type="text" class="form-control" th:field="*{localidad}"
										placeholder="Localidad"
										th:errorclass="'form-control alert-danger'" /> 
									</div>
									<small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('localidad')}" th:errors="*{localidad}"></small>
								</div>
							</div>
							
								<div class="row">
								<div class="col-xs-12 col-md-6 col-lg-6">
									<div class="form-group input-group">
										
										<div class="input-group-prepend">
										    <span class="input-group-text"> <i class="fas fa-map-marker-alt"></i> </span>
										 </div>									
										<input type="text" class="form-control" th:field="*{provincia}"
										placeholder="Provincia"
										th:errorclass="'form-control alert-danger'" /> 
									</div>
									<small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}"></small>
								</div>
								<div class="col-xs-12 col-md-6 col-lg-6">
									<div class="form-group input-group">
										
										<div class="input-group-prepend">
										    <span class="input-group-text"> <i class="fas fa-flag"></i> </span>
										 </div>									
										<input type="text" class="form-control" th:field="*{pais}"
										placeholder="País"
										th:errorclass="'form-control alert-danger'" /> 
									</div>
									<small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></small>
								</div>
							</div>
						
							<div class="row text-center">
								<div class="col-md-12 mt-2 mb-2">

									<div class="col-md-12">
										<h6>Permiso para el usuario (Usuario / Administrador)</h6>
										<input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
									        
									</div>
									<hr />
									</div> 
							</div>
							
						</div>
							
					</div>

					<div class="row">
						<div class="col-md-11">
							<div class="row float-right ">
								<div class="form-group">
									<input value="Volver" type="button" class="btn btn-danger mr-4"
										onclick="history.back()" />
								</div>
								<div class="form-group">
									<input value="Crear Empleado" type="submit"
										class="btn btn-primary" />
								</div>
							</div>

						</div>


					</div>

				</form>
			</div>
		</div>
	</div>
		<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>