<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid py-3 col-md-11 col-sm-12">
		<div class="card bg-light">
			<div class="card-header bg-dark text-white">
				<h5 th:text="${titulo}"></h5>
			</div>
			<div class="card-body">

				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header card-header-success card-header-icon">
								<div class="card-icon1 bg-danger text-white">
									<i class="fas fa-times"></i>
								</div>
								<p class="card-category text-right">Errores</p>
								<h3 class="card-title text-right" th:text="${totalErrores}"></h3>
								
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header card-header-warning card-header-icon">
								<div class="card-icon2 bg-warning text-white">
									<i class="fas fa-exclamation-triangle"></i>
								</div>
								<p class="card-category text-right">Advertencias</p>
								<h3 class="card-title text-right" th:text="${totalAdvertencias}"></h3>
								
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header card-header-danger card-header-icon">
								<div class="card-icon3 bg-primary text-white">
									<i class="far fa-eye"></i>
								</div>
								<p class="card-category text-right">Abiertas</p>
								<h3 class="card-title text-right" th:text="${totalAbiertas}"></h3>
								
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header card-header-info card-header-icon">
								<div class="card-icon4 bg-success text-white">
									<i class="far fa-check-circle"></i>
								</div>
								<p class="card-category text-right">Resueltas</p>
								<h3 class="card-title text-right" th:text="${totalSolucionadas}"></h3>
								
							</div>
						</div>
					</div>
				</div>
				<div class="row pt-4">
					<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 text-center">
	              <div class="card shadow card-table">
	                <div class="card-header  bg-dark text-white">
	                 
	                  <div class="title">Listado de las incidencias</div>

	                </div>
	                <div class="card-body table-responsive">
	                
	                <table id="tablaIncidencias" class="table-hover table-borderless dataTables_length" >
										<thead class="text-center bg-dark text-white">
										<tr>
											<th>Usuario</th>
											<th>Fecha</th>
											<th>Tipo de incidencia</th>
											<th>Tipo</th>
											<th>Descripción</th>
											<th>Eliminar</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="incidencia : ${incidencias}"
											th:style="${incidencia.estado == '1'} ? 'background:#A9D0F5; ' : 'background:#CEF6CE;'">
											<td data-toggle="tooltip" data-placement="left" data-type="primary" 
											th:title="${incidencia.empleado.nombre} +' '+${incidencia.empleado.apellido1}+' '+${incidencia.empleado.apellido2}"
											 th:text="${incidencia.empleado.usuario.username}"></td>
	
											<td th:text="${incidencia.fecha}"></td>
											
											<td
												th:text="${incidencia.mensaje}">
												
											</td>
											
											<td>
												<span
												th:class="${incidencia.tipo == '1'} ? 'badge badge-danger text-dark' : 'badge badge-warning'"
												th:text="${incidencia.tipo == '1' ? '&nbspError&nbsp ' : '&nbspAdvertencia&nbsp'}">
												</span>
											</td>
											
											<td>
																		
												<a th:href="@{/incidencias/descripcionIncidencia/} + 
																	${incidencia.mensaje} + '/' +
																 	${incidencia.empleado.cod_empl} +
																 	 '/' + 
																 	${incidencia.fecha}" class="btn-lg">
												<i class="fas fa-search-plus" style="color: black;"></i>
												</a>
												
											</td>
										
											<td>
												
												<!-- Button trigger modal-->
												<a onclick="return confirm('¿Estás seguro que quieres eliminar la incidencia?');"
												th:href="@{/incidencias/eliminar/} + 
																	${incidencia.mensaje} + '/' +
																 	${incidencia.empleado.cod_empl} +
																 	 '/' + 
																 	${incidencia.fecha}" class="btn-lg">
												<i class="fas fa-trash-alt" style="color: red;"></i>
												</a>
 
										</td>
									</tr>
								</tbody>
							</table>
                </div>
              </div>
            </div>
				

				<div class="col-lg-3 col-md-12 col-sm-12">
						
						<div class="card shadow h-100">
								<div class="card-header  bg-dark text-white text-center">		
									<h6 class="card-title mb-0 text-center">Estadisticas</h6>
								</div>
								<div class="card-body d-flex">
									<div class="align-self-center w-100">
									<div class="py-3">
										<div class="chart chart-xs">
											<div class="chartjs-size-monitor">
												<div class="chartjs-size-monitor-expand">
												</div>
												<div class="chartjs-size-monitor-shrink">
												</div>
											</div>
											<canvas id="chartjs-dashboard-pie"
												style="display: block; width: 317px; height: 200px;"
												width="317" height="200" class="chartjs-render-monitor"></canvas>
										</div>
									</div>

									<table class="table mb-0">
											<tbody>
												<tr>
													<td><i class="fas fa-circle text-danger fa-fw"></i> Errores</td>
													<td class="text-right" th:text="${totalErrores}"></td>
												</tr>
												<tr>
													<td><i class="fas fa-circle text-warning fa-fw"></i> Advertencias</td>
													<td class="text-right" th:text="${totalAdvertencias}"></td>
												</tr>
												<tr>
													<td><i class="fas fa-circle text-primary fa-fw"></i> Abiertas</td>
													<td class="text-right" th:text="${totalAbiertas}"></td>
												</tr>
												<tr>
													<td><i class="fas fa-circle text-success fa-fw"></i> Resueltas</td>
													<td class="text-right" th:text="${totalSolucionadas}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
									
						</div>
						
					</div>
								
				</div>

			</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="modalFlash" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div th:class="${tipo == 'Error'} ? 'modal-header bg-danger text-white' : 'modal-header bg-primary text-white'">
	        <div class="modal-title" id="exampleModalLongTitle">
	        	<i class="fas fa-exclamation-triangle"></i>
	        	<span th:text="${tipo}"></span>
	        </div>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<h6 th:text="${message}"></h6>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	<footer th:replace="layout/layout :: footer"></footer>

	<script>
	
	$(document).ready( function () {
		 var table = $('#tablaIncidencias').DataTable({
			 	"pagingType": "numbers",
		        "language": {
		            "lengthMenu": "Mostrar _MENU_ registros por página",
		            "zeroRecords": "Sin resultados",
		            "info": "Mostrando página _PAGE_ de _PAGES_",
		            "infoEmpty": "No hay datos disponibles",
		            "infoFiltered": "(filtrados de _MAX_ registros en total)",
		            "loadingRecords": "Cargando...",
		            "processing":     "Procesando...",
		            "search": "Buscar:",
		            "paginate": {
		            	"first":      "Primera",
		                "last":       "Última",
		                "next":       "Siguiente",
		                "previous":   "Anterior"
		            }
		        },
		        "lengthMenu": [ 6, 10, 15 , 20 ],
		        "order": [ 1, 'asc']
		    });
	});
				
			
	var totalErrores = [[${totalErrores}]];
	var totalAdvertencias = [[${totalAdvertencias}]];
	var totalAbiertas = [[${totalAbiertas}]];
	var totalSolucionadas = [[${totalSolucionadas}]];
	
	$(function() {
		// Pie chart
		new Chart(document.getElementById("chartjs-dashboard-pie"), {
			type: 'pie',
			data: {
				labels: ["Errores", "Advertencias", "Abiertas", "Resueltas"],
				datasets: [{
					data: [totalErrores, totalAdvertencias, totalAbiertas, totalSolucionadas],
					backgroundColor: [
						"#d9534f",
						"#f0ad4e",
						"#0275d8",
						"#5cb85c"
					],
					borderColor: "transparent"
				}]
			},
			options: {
				responsive: !window.MSInputMethodContext,
				maintainAspectRatio: false,
				legend: {
					display: false
				},
				cutoutPercentage: 60
			}
		});
	});

</script>

<script th:inline="javascript">

	$(document).ready( function () {
		var message = /*[[${message}]]*/;
		if(message.length > 0){
			$('#modalFlash').modal('show');
		}
		
	});
	
	</script>


</body>

</html>