<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid py-3  col-md-11 col-sm-12">
		<div class="card bg-light">
			<div class="card-header font-weight-bold" th:text="${titulo}"></div>
			<div class="card-body">

				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header card-header-success card-header-icon">
								<div class="card-icon1 bg-danger text-white">
									<i class="fas fa-times"></i>
								</div>
								<p class="card-category text-right">Errores</p>
								<h3 class="card-title text-right" th:text="${totalErrores}"></h3>
								
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header card-header-warning card-header-icon">
								<div class="card-icon2 bg-warning text-white">
									<i class="fas fa-exclamation-triangle"></i>
								</div>
								<p class="card-category text-right">Advertencias</p>
								<h3 class="card-title text-right" th:text="${totalAdvertencias}"></h3>
								
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header card-header-danger card-header-icon">
								<div class="card-icon3 bg-primary text-white">
									<i class="far fa-eye"></i>
								</div>
								<p class="card-category text-right">Abiertas</p>
								<h3 class="card-title text-right" th:text="${totalAbiertas}"></h3>
								
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header card-header-info card-header-icon">
								<div class="card-icon4 bg-success text-white">
									<i class="far fa-check-circle"></i>
								</div>
								<p class="card-category text-right">Resueltas</p>
								<h3 class="card-title text-right" th:text="${totalSolucionadas}"></h3>
								
							</div>
						</div>
					</div>
				</div>
				<div class="row pt-4">
					<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 text-center">
	              <div class="card shadow card-table">
	                <div class="card-header">
	                 
	                  <div class="title font-weight-bold ">Incidencias</div>
	                </div>
	                <div class="card-body ">
	                
	                <table id="tablaIncidencias" class="table-hover table-borderless dataTables_length" >
										<thead class="text-center bg-dark text-white">
										<tr>
											<th>Usuario</th>
											<th>Fecha</th>
											<th>Estado</th>
											<th>Tipo de incidencia</th>
											<th >Descripción</th>
											<th>Resolver</th>
											<th>Eliminar</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="incidencia : ${incidencias}">
											<td data-toggle="tooltip" data-placement="left" data-type="primary" 
											th:title="${incidencia.empleado.nombre} +' '+${incidencia.empleado.apellido1}+' '+${incidencia.empleado.apellido2}"
											 th:text="${incidencia.empleado.usuario.username}"></td>
	
											<td th:text="${incidencia.fecha}"></td>
											<td
												th:text="${incidencia.estado == '1' ? '&nbspAbierta&nbsp ' : '&nbspResuelta&nbsp'}"></td>
											<td
												th:text="${incidencia.mensaje}"
												th:class="${incidencia.tipo == '1'} ? 'text-danger font-weight-bold' : 'text-warning font-weight-bold'">
											</td>
											
											<td>
																		
												<a href="#" class="btn-lg">
												<i class="fas fa-search-plus" style="color: #5bc0de;"></i>
												</a>
												
											</td>
											<td>
												<a class="btn-lg" href="#">
												<i class="fas fa-cogs" style="color: green;"></i></a>
											</td>
											<td>
												
												<!-- Button trigger modal-->
												<a href="#" class="btn-lg" data-toggle="modal" data-target="#myModal">
												<i class="fas fa-trash-alt" style="color: red;"></i>
												</a>
												
												<!-- Modal HTML -->
												<div id="myModal" class="modal fade">
													<div class="modal-dialog modal-dialog-centered modal-confirm">
														<div class="modal-content">
															<div class="modal-header">
																<div class="icon-box">
																	<i class="fas fa-times"></i>
																</div>				
																<h4 class="modal-title">¿Estás seguro?</h4>	
												                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
															</div>
															<div class="modal-body">
																<p>¿Estás seguro de eliminar la incidencia? Este proceso no puede ser revertido.</p>
															</div>
															<div class="modal-footer">
																<a class="btn btn-info text-white" data-dismiss="modal">Cancelar</a>
																<a th:href="@{/incidencias/eliminar/} + 
																	${incidencia.mensaje} + '/' +
																 	${incidencia.empleado.cod_empl} +
																 	 '/' + 
																 	${incidencia.fecha}"
															  		type="button" class="btn btn-danger text-white">Borrar</a>
															</div>
														</div>
													</div>
												</div>     
										</td>
									</tr>
								</tbody>
							</table>
                </div>
              </div>
            </div>
				

				<div class="col-lg-3 col-md-12 col-sm-12">
						
						<div class="card shadow h-100">
								<div class="card-header text-center">		
									<h6 class="card-title mb-0 text-center font-weight-bold">Estadisticas Incidencias</h6>
								</div>
								<div class="card-body d-flex">
									<div class="align-self-center w-100">
									<div class="py-3">
										<div class="chart chart-xs">
											<div class="chartjs-size-monitor">
												<div class="chartjs-size-monitor-expand">
												</div>
												<div class="chartjs-size-monitor-shrink">
												</div>
											</div>
											<canvas id="chartjs-dashboard-pie"
												style="display: block; width: 317px; height: 200px;"
												width="317" height="200" class="chartjs-render-monitor"></canvas>
										</div>
									</div>

									<table class="table mb-0">
											<tbody>
												<tr>
													<td><i class="fas fa-circle text-danger fa-fw"></i> Errores</td>
													<td class="text-right" th:text="${totalErrores}"></td>
												</tr>
												<tr>
													<td><i class="fas fa-circle text-warning fa-fw"></i> Advertencias</td>
													<td class="text-right" th:text="${totalAdvertencias}"></td>
												</tr>
												<tr>
													<td><i class="fas fa-circle text-primary fa-fw"></i> Abiertas</td>
													<td class="text-right" th:text="${totalAbiertas}"></td>
												</tr>
												<tr>
													<td><i class="fas fa-circle text-success fa-fw"></i> Resueltas</td>
													<td class="text-right" th:text="${totalSolucionadas}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
									
						</div>
						
					</div>
								
				</div>

			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

	<script>
	
	$(document).ready( function () {
		 var table = $('#tablaIncidencias').DataTable({
		        "language": {
		            "lengthMenu": "Mostrar _MENU_ registros por página",
		            "zeroRecords": "Sin resultados",
		            "info": "Mostrando página _PAGE_ de _PAGES_",
		            "infoEmpty": "No hay datos disponibles",
		            "infoFiltered": "(filtrados de _MAX_ registros en total)",
		            "loadingRecords": "Cargando...",
		            "processing":     "Procesando...",
		            "search": "Buscar:",
		            "paginate": {
		            	"first":      "Primera",
		                "last":       "Última",
		                "next":       "Siguiente",
		                "previous":   "Anterior"
		            }
		        },
		        "lengthMenu": [ 6, 10, 15 , 20 ],
		        "order": [ 2, 'asc'],
		        "rowId": "id"
		    });
	});
				
			
	var totalErrores = [[${totalErrores}]];
	var totalAdvertencias = [[${totalAdvertencias}]];
	var totalAbiertas = [[${totalAbiertas}]];
	var totalSolucionadas = [[${totalSolucionadas}]];
	
	$(function() {
		// Pie chart
		new Chart(document.getElementById("chartjs-dashboard-pie"), {
			type: 'pie',
			data: {
				labels: ["Errores", "Advertencias", "Abiertas", "Resueltas"],
				datasets: [{
					data: [totalErrores, totalAdvertencias, totalAbiertas, totalSolucionadas],
					backgroundColor: [
						"#d9534f",
						"#f0ad4e",
						"#0275d8",
						"#5cb85c"
					],
					borderColor: "transparent"
				}]
			},
			options: {
				responsive: !window.MSInputMethodContext,
				maintainAspectRatio: false,
				legend: {
					display: false
				},
				cutoutPercentage: 60
			}
		});
	});

</script>

</body>

</html>