<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div
		class="container-fluid py-3 col-md-8 col-sm-12">

		<div class="card bg-light">
			<div class="card-header text-center font-weight-bold text-white bg-dark"
				th:text="${titulo}"></div>
			<div class="card-body">
				<div class="col-md-12 col-xs-12 col-lg-12 col-xl-12">

					<form th:action="@{/perfil/editar/} + ${empleado.cod_empl}"
						th:object="${empleado}" method="post">		
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="row pb-2">
									<h5 class="col-md-12 text-center mark">Datos personales</h5>
								</div>
								<div class="row">
									<div class="col-xs-12 col-md-6 col-lg-6">
										<div class="form-group input-group">
											
											<div class="input-group-prepend">
											    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
											 </div>									
											<input th:disabled="!${esAdmin}" type="text" 
											class="form-control" th:field="*{nombre}"
											placeholder="Nombre"
											th:errorclass="'form-control alert-danger'" /> 
										</div>
										<small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
									</div>
									<div class="col-xs-12 col-md-6 col-lg-6">
										<div class="form-group input-group">
											
											<div class="input-group-prepend">
											    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
											 </div>									
											<input th:disabled="!${esAdmin}" type="text" 
											class="form-control" th:field="*{apellido1}"
											placeholder="Primer Apellido"
											th:errorclass="'form-control alert-danger'" /> 
										</div>
										<small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('apellido1')}" th:errors="*{apellido1}"></small>
									</div>			
								</div>
							
								<div class="row">
									<div class="col-xs-12 col-md-6 col-lg-6">
										<div class="form-group input-group">
											
											<div class="input-group-prepend">
											    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
											 </div>									
											<input th:disabled="!${esAdmin}" type="text" 
											class="form-control" th:field="*{apellido2}"
											placeholder="Segundo Apellido"
											th:errorclass="'form-control alert-danger'" /> 
										</div>
										<small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('apellido2')}" th:errors="*{apellido2}"></small>
									</div>
									<div class="col-xs-12 col-md-6 col-lg-6">
										<div class="form-group input-group">
											
											<div class="input-group-prepend">
											    <span class="input-group-text"> <i class="fas fa-calendar-alt"></i> </span>
											 </div>									
											<input th:disabled="!${esAdmin}" type="text" 
											class="form-control" th:field="*{fechaNacim}"
												 onfocus="(this.type='date')"
												placeholder="Fecha de Nacimiento"
												th:errorclass="'form-control alert-danger'" /> 
										</div>
										<small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('fechaNacim')}" th:errors="*{fechaNacim}"></small>
									</div>
							</div>
								
							<div class="row pb-2">
								<h5 class="col-md-12 text-center mark">Datos de dirección</h5>
							</div>
							
							<div class="row">
								<div class="col-xs-12 col-md-6 col-lg-6">
									<div class="form-group input-group">
										
										<div class="input-group-prepend">
										    <span class="input-group-text"> <i class="fas fa-compass"></i> </span>
										 </div>									
										<input type="text" class="form-control" th:field="*{direccion}"
										placeholder="Dirección completa"
										th:errorclass="'form-control alert-danger'" /> 
									</div>
									<small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></small>
								</div>
								<div class="col-xs-12 col-md-6 col-lg-6">
									<div class="form-group input-group">
										
										<div class="input-group-prepend">
										    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i> </span>
										 </div>									
										<input type="text" class="form-control" th:field="*{localidad}"
										placeholder="Localidad"
										th:errorclass="'form-control alert-danger'" /> 
									</div>
									<small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('localidad')}" th:errors="*{localidad}"></small>
								</div>
							</div>
							
							<div class="row">
								<div class="col-xs-12 col-md-6 col-lg-6">
									<div class="form-group input-group">
										
										<div class="input-group-prepend">
										    <span class="input-group-text"> <i class="fas fa-map-marker-alt"></i> </span>
										 </div>									
										<input type="text" class="form-control" th:field="*{provincia}"
										placeholder="Provincia"
										th:errorclass="'form-control alert-danger'" /> 
									</div>
									<small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}"></small>
								</div>
								<div class="col-xs-12 col-md-6 col-lg-6">
									<div class="form-group input-group">
										
										<div class="input-group-prepend">
										    <span class="input-group-text"> <i class="fas fa-flag"></i> </span>
										 </div>									
										<input type="text" class="form-control" th:field="*{pais}"
										placeholder="País"
										th:errorclass="'form-control alert-danger'" /> 
									</div>
									<small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></small>
								</div>
							</div>
								<hr />
						</div>
					</div>

					<div class="row mt-3">
							<div class="col-md-11">
								<div class="row float-right ">
									<div class="form-group">
										<input value="Volver" type="button"
											class="btn btn-danger mr-4" onclick="history.back()" />
									</div>
									<div class="form-group">
										<input value="Editar Empleado" type="submit"
											class="btn btn-primary" />
									</div>
									
								</div>
								
							</div>
							
						</div>
							
					</form>

							<div class="row text-center mt-4 ">
								<div class="col-md-12 col-lg-12 col-xs-12">
									<small>Sólo dispone de permisos para cambiar los datos
										de la dirección, si desea modificar algún dato personal por
										cuestión de errores en los mismos, abra una incidencia al
										administrador.<br>
										<button class="btn btn-sm btn-primary mt-3"
											data-toggle="modal" data-target="#modalIncidencia">Abrir
											Incidencia</button>
									</small>
								</div>
								<div class="modal fade" id="modalIncidencia" tabindex="-1"
									role="dialog" aria-labelledby="modalIncidencia"
									aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered modal-md"
										role="document">
										<div class="modal-content">
											<div class="modal-header bg-dark text-white">
												<p class="modal-title w-100 text-center"
													id="exampleModalLongTitle">Incidencia sobre datos del
													empleado</p>
												<button type="button" class="close text-white"
													data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body text-left">		
												<small>Seleccione los campos que se encuentran con errores e introduzca
												en la caja de texto el valor que sería correcto.</small>
												
												<form th:object="${incidenciaDatosPersonales}"
												 th:action="@{/perfil/incidencia}"
													method="post">	
													
														<div class="custom-control custom-checkbox mt-5">
															<div class="row">
																<div class="col-md-6 mt-1">
																	<input type="checkbox" class="custom-control-input"
																		id="check1" th:field="*{hayNombre}"
																		onchange="enable_disable('check1','cajaNombre')"> <label
																		class="custom-control-label" for="check1">Nombre</label>
																</div>
																<div class="col-md-6">
																	<input type="text" class="form-control text-center"
																			id="cajaNombre" th:field="*{nombre}" disabled required/>
																		
																</div>
															</div>
														</div>
														<div class="custom-control custom-checkbox mt-4">
																<div class="row">
																<div class="col-md-6 mt-1">
																	<input type="checkbox" class="custom-control-input"
																	onchange="enable_disable('check2','cajaApellido1')"
																		id="check2" th:field="*{hayApellido1}"> <label
																		class="custom-control-label" for="check2">Primer Apellido</label>
																</div>
																<div class="col-md-6">
																	<input type="text" class="form-control text-center"
																		id="cajaApellido1" th:field="*{apellido1}" disabled required/>
																</div>
															</div>
														</div>
														<div class="custom-control custom-checkbox mt-4">
																<div class="row">
																<div class="col-md-6 mt-1">
																	<input type="checkbox" class="custom-control-input"
																	onchange="enable_disable('check3','cajaApellido2')"
																		id="check3" th:field="*{hayApellido2}"> <label
																		class="custom-control-label" for="check3">Segundo Apellido</label>
																</div>
																<div class="col-md-6">
																	<input type="text" class="form-control text-center"
																		id="cajaApellido2" th:field="*{apellido2}" disabled required/>
																</div>
															</div>
														</div>
														<div class="custom-control custom-checkbox mt-4">
																<div class="row">
																<div class="col-md-6 mt-1">
																	<input type="checkbox" class="custom-control-input"
																	onchange="enable_disable('check4','cajaFecha')"
																		id="check4" th:field="*{hayFechaNacimiento}"> <label
																		class="custom-control-label" for="check4">Fecha de Nacimiento</label>
																</div>
																<div class="col-md-6">
																	<input type="date" class="form-control text-center"
																		id="cajaFecha" th:field="*{fechaNacimiento}" disabled required/>
																</div>
															</div>
															
														</div>
															
														
														<div class="modal-footer mt-5">
															<button type="button" class="btn btn-danger"
																data-dismiss="modal">Cerrar</button>
															<button type="submit" class="btn btn-primary text-white">Aceptar</button>
														</div>
												</form>
												
											</div>
											
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>