<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="bg-light">

	<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid py-2 col-md-11 col-sm-12">
		<!--  <div class="mt-2 mb-3">
				<h4 class="text-center" th:text="${titulo}"></h4>
		</div>-->
					
		<!--
		#################################################################################
								 DATOS O VISTA PARA EL ROLE_USER 
		#################################################################################
		-->
		<div th:if="!${esAdmin}" class="card mt-2">
			<div class="card-header bg-dark text-white">
				<h5 th:text="'Creación de solicitudes'"></h5>
			</div>
			<div class="card-body">
				<div class="col-md-12 col-xs-12">
					<form th:action="@{/solicitud}" th:object="${formSolicitud}" method="post">
						<div class="row">
							<label for="tipo">Tipo de solicitud / Ausencia</label>		
							<select class="form-control text-white" id="tipo" name="tipo" th:field="*{tipo}" style="background-color: #6c8ec2;">
							    <option value="">Seleccione una opción</option>
								<option value="1">Vacaciones</option>
								<option value="2">Enfermedad</option>
								<option value="3">Operación de un familiar</option>
								<option value="4">Matrimonio</option>
								<option value="5">Nacimiento de un hijo</option>
								<option value="6">Examen</option>
								<option value="7">Cita médica</option>
								<option value="8">Asistencia a formación</option>
							</select>
						</div>
						<small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}"></small>
						
						<div class="card mt-3">
						<h6 class="card-header text-center bg-dark text-white">Datos adicionales</h6>
							<div class="card-body row">
								<div class="form-group col-md-4 col-xs-12 text-center mt-2" style="align-self: center;">
									<input type="checkbox" class="form-check-input" id="desplazamiento"
									 value="si"
									 th:field="*{requiereDesplazamiento}">
	    							<label class="form-check-label font-weight-bold h6" for="desplazamiento">¿Requiere desplazamiento?</label>
								</div>								
								<div class="form-group col-md-4 col-xs-12 text-center mt-2" >
									 <label class="font-weight-bold" for="fechaInicio">Fecha de Inicio</label>
									<input type="date" class="form-control text-center text-white" id="fechaInicio"
									th:field="*{fecha}" style="background-color: #6c8ec2;">
										<small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}">
										</small>
								</div>
								
									
								<div class="form-group col-md-4 col-xs-12 text-center mt-2">
									<label class="font-weight-bold" for="tiempoNecesario">Tiempo necesario</label>
									<input type="number" class="form-control text-center text-white" id="tiempoNecesario"
									th:field="*{tiempoNecesario}" style="background-color: #6c8ec2;">
									<small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('tiempoNecesario')}" th:errors="*{tiempoNecesario}">
										</small>
								</div>
							</div>
						</div>
						
						<div class="card mt-3">
						<h6 class="card-header text-center bg-dark text-white">Selección de días para las vacaciones</h6>
							<div class="card-body col-md-12 col-xs-12">
								<div class="row mt-2">
									<div class="col-md-8 col-xs-12" style="margin: auto;">
									 	<div id='calendar'></div>
									</div>
								</div>
							</div>				
						</div>
						
						<div class="row mt-3">
							<div class="col-md-11">
								<div class="row float-right ">
									<div class="form-group">
										<input value="Crear Solicitud" type="submit"
											class="btn btn-lg btn-primary" />
									</div>
								</div>
	
							</div>
						</div>
					</form>
				</div>
			</div>		
		</div>
		
		<!--
		#################################################################################
								 DATOS O VISTA PARA EL ROLE_ADMIN 
		#################################################################################
		 -->
		<div th:if="${esAdmin}" class="card mt-2">	
			<div class="card-header bg-dark text-white">
				<h5 th:text="'Listado de solicitudes abiertas'"></h5>
			</div>		
			<div class="card-body table-responsive">
						
					<table id="tablaSolicitudes" class="table-hover table-borderless dataTables_length" >
										<thead class="text-center bg-dark text-white">
										<tr>
											<th>Usuario</th>
											<th>Fecha</th>
											<th>Tipo</th>
											<th>Estado</th>
											<th>Descripción</th>
											<th>Acciones</th>
										</tr>
									</thead>
									<tbody class="text-center">
										<tr th:each="solicitud : ${todasSolicitudes}">
											<td data-toggle="tooltip" data-placement="left" data-type="primary" 
											th:title="${solicitud.empleado.nombre} +' '+${solicitud.empleado.apellido1}+' '+${solicitud.empleado.apellido2}"
											 th:text="${solicitud.empleado.usuario.username}"></td>
	
											<td th:text="${solicitud.fecha}"></td>
											
											<td
												
												 th:text="${solicitud.tipo}"></td>
											
											<td>				
												<span
													th:class="${solicitud.estado == '1' ? 'badge badge-primary text-white' : solicitud.estado == '2' ? 'badge badge-success text-white' : 'badge badge-danger text-white'}"
													th:text="${solicitud.estado == '1' ? '&nbspAbierta&nbsp' : solicitud.estado == '2' ? '&nbspAceptada&nbsp' :'&nbspRechazada&nbsp'}">
												</span>
											</td>
											<td>																		
												<a href="#" class="btn-lg">
													<i class="fas fa-search-plus" style="color: black;"></i>
												</a>		
											</td>
											<td></td>

									</tr>
								</tbody>
							</table>	
				
			</div>		
		</div>
		
	</div>
	
	
		<!-- Modal -->
	<div class="modal fade" id="modalFlash" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div th:class="${tipo == 'Error'} ? 'modal-header bg-danger text-white' : 'modal-header bg-primary text-white'">
	        <div class="modal-title" id="exampleModalLongTitle">
	        	<i class="fas fa-exclamation-triangle"></i>
	        	<span th:text="${tipo}"></span>
	        </div>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<h6 th:text="${message}"></h6>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
	
	<script th:inline="javascript">

	$(document).ready( function () {
		var message = /*[[${message}]]*/;
		if(message.length > 0){
			$('#modalFlash').modal('show');
		}
		
	});
	
	</script>
	
	<script>
	
	$(document).ready( function () {
		 var table = $('#tablaSolicitudes').DataTable({
			 	"pagingType": "numbers",
		        "language": {
		            "lengthMenu": "Mostrar _MENU_ registros por página",
		            "zeroRecords": "Sin resultados",
		            "info": "Mostrando página _PAGE_ de _PAGES_",
		            "infoEmpty": "No hay datos disponibles",
		            "infoFiltered": "(filtrados de _MAX_ registros en total)",
		            "loadingRecords": "Cargando...",
		            "processing":     "Procesando...",
		            "search": "Buscar:",
		            "paginate": {
		            	"first":      "Primera",
		                "last":       "Última",
		                "next":       "Siguiente",
		                "previous":   "Anterior"
		            }
		        },
		        "lengthMenu": [ 6, 10, 15 , 20 ],
		        "order": [ 1, 'asc']
		    });
	});
	</script>
	
	<script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'interaction', 'dayGrid' ],
          locale: 'es',
          firstDay: 1,
          selectable: true,
          businessHours: {
        	 daysOfWeek: [1, 2, 3, 4, 5]
          },
          select: function(info) {
             alert('selected ' + info.startStr + ' to ' + info.endStr);
          }
        });

        calendar.render();
      });

    </script>
    
</body>
</html>