<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<img th:if="${#strings.length(empleado.foto) > 0}"
					class="img-thumbnail rounded float-left" style="max-width: 25%;"
					th:src="@{'/uploads/' + ${empleado.foto}}"
					th:alt="${empleado.foto}" />

				<ul class="list-group">
					<li class="list-group-item active" th:text="${empleado.nombre}"></li>
					<li class="list-group-item" th:text="${empleado.DNI}"></li>
					<li class="list-group-item" th:text="${empleado.apellido1}"></li>
					<li class="list-group-item" th:text="${empleado.apellido2}"></li>
					<li class="list-group-item" th:text="${empleado.fechaNacim}"></li>
				</ul>

				<table class="table table-bordered table-striped my-4">
					<thead>
						<tr>
							<th>ID Fichaje</th>
							<th>Hora Entrada</th>
							<th>Hora Salida</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="fichaje : ${empleado.fichajes}">
						<td th:text="${fichaje.cod_fic}"></td>
						<td th:text="${fichaje.horaEntrada}"></td>
						<td th:text="${fichaje.horaSalida}"></td>
						<td>Hay que calcularlo mas adelante</td>
					</tbody>
				</table>

			</div>
		</div>
	</div>

</body>
</html>